.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    margin-top: 1rem;
}

.btn:hover {
    background: #61dafb;
}

.App {
    text-align: center;
    background-color: #282c34;

}

.AppHeader {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 0;
    padding: 0;
}